@import "/styles/variables.scss";

.ads {
  width: 100vw;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $d_main_color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $d_main_white_color;
  font-size: 32px;
  font-weight: 600;

  @media screen and (max-width: 840px) {
    font-size: 24px;
    font-weight: 500;
  }

  @media screen and (max-width: 580px) {
    font-size: 16px;
    font-weight: 500;
  }
}