@import "/styles/variables.scss";

.container {
  position: relative;
  width: 128px;
  height: 128px;

  .containerAvatar {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 128px;
    height: 128px;
    justify-content: center;
    margin: 0 -24px 16px 0px;
    gap: 8; 
    border-radius: 16px;
    overflow: hidden;
    border: 4px solid $d_main_subbg_color;
  }

  .camera {
    position: absolute;
    left: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #5a5a5a, $alpha: 0.8);
    width: 50%;
    height: 50%;
    border-radius: 8px;
    top: 36px;
    cursor: pointer;

    svg {
      width: 32px;
      height: 32px;
      path {
        fill: $d_main_text_color;
      }
    }
  }

  .file {
    display: none;
  }
}

.imageCont {
  object-fit: cover;
}