@import "/styles/variables.scss";

.container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  overflow: hidden;
  height: 100%;

  .containerAvatar {
    display: flex;
    top: 0;
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 16px 0px;
    height: 100%;
    width: 100%;
    gap: 8;
    overflow: hidden;

    span {
      width: 100%;
      line-height: 0;
    }
  }

  .camera {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 6px 12px;
    height: 100%;
    gap: 8px;
    color: $d_main_text_color;
    border-radius: $br-14;
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
      path {
        fill: $d_main_text_color;
      }
    }
  }

  .file {
    display: none;
  }
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $br-14;

  .camera {
    background-color: $d_main_subbg_color;

    &:hover {
      background-color: $d_main_bg_color;
    }

    svg {
    }
  }
}
