@import "/styles/variables.scss";

.menu {
  position: absolute;
  width: 300px;
  background-color: $d_main_subbg_color;
  border-radius: 8px;
  right: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 16px 24px;
  top: 50px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  .title {
    font-size: 16px;
    margin: 0;
    color: $d_main_text_color;
  }

  a {
    text-decoration: none;
  }

  .userMenu {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    border-radius: 99px;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: $d_main_subtext_color;
    }

    .bgAvatar {
      width: 42px;
      height: 42px;
      border-radius: 99px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $d_main_text_color;

      path {
        fill: $d_main_bg_color;
      }
    }

    .userName {
      margin: 0;
      color: $d_main_text_color;
    }

    .avatar {
      position: relative;
      width: 42px;
      height: 42px;
      border-radius: 99px;

      &:hover {
        opacity: 0.8;
      }

      img {
        border-radius: 99px;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.user {
  display: flex;
  cursor: pointer;
  margin-right: 16px;

  .avatar {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 99px;
    margin-right: 8px;

    &:hover {
      opacity: 0.8;
    }

    img {
      border-radius: 99px;
      width: 100%;
      height: 100%;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-right: 32px;
    justify-content: center;

    .name {
      margin: 0;
      font-size: 12px;
      color: $d_main_text_color;
      margin-top: 4px;
    }

    .subtitle {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: $d_main_color;

      svg {
        margin-right: 4px;
      }
      path {
        fill: $d_main_color;
      }
    }
  }

  .arrowDown {
    display: flex;
    align-items: center;
    transition: all 80ms ease-in-out;

    path {
      fill: $d_main_text_color
    }

    &:hover {
      path {
        fill: $d_main_text_color
      }
    }
  }
}