@import "/styles/variables.scss";

.notificationList {
    position: fixed;
    right: 20px;
    display: flex;
    pointer-events: none;
    flex-direction: column;
    gap: 8px;
    top: 68px;
    width: 360px;
    height: 500px;
    z-index: 1000;

    li {
        list-style: none;
    }
}