@import "/styles/variables.scss";

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: $d_main_white_color;
  gap: 24px;
  height: 60px;

  .layout {
    position: relative;
    max-width: 1256px;
    width: 100%;
    gap: 24px;
    justify-content: center;
    display: flex;

    @media (max-width: 1280px) {
      max-width: 990px;
    }
  }

  .leftColumn {
    max-width: 272px;
    width: 100%;

    .logotype{
      margin-top: 5px;
      margin-left: 16px;
      cursor: pointer;
      width: 127px;

      @media (max-width: 720px) {
        margin-left: 24px;
      }

      svg:active {

        path {
          transition: all 80ms ease-in-out;
          fill: $d_main_gray_color;
        }
      }
    }

    .logotypeFixed {
      width: 1256px;
      top: 0;
      position: fixed;
      z-index: 123;

      @media (max-width: 1280px) {
        max-width: 975px;
      }

      .logotype {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(8px);
        padding: 6px 0 6px 24px;
        margin: 0;

        svg {
        }

      }
    }
  }

  .middleColumn {
    width: 100%;

    input {
      @media (max-width: 1024px) {
        display: none;
      }
    }

    .search {
      font-size: 16px;
      font-weight: 500;
      padding: 11.5px 24px;
      border-radius: 99px;
      border: 1px solid $d_main_gray_color;
    }
  }

  .rightColumn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
    max-width: 296px;
    width: 100%;

    .profile {
      display: flex;
      align-items: center;
      gap: 32px;
      max-width: 296px;
      justify-content: flex-end;

      @media (max-width: 720px) {
        display: none;
      }
    }

    .create {
      display: none;
      margin-right: 20px;
      @media (max-width: 720px) {
        display: flex;
      }
    }
    .createFixed {
      position: fixed;
      display: none;
      top: 10px;
      margin-right: 20px;
      z-index: 123;
      @media (max-width: 720px) {
        display: flex;
      }
    }
  }
}
