@import "/styles/variables.scss";

.item {
    padding: 6px 14px;
    display: flex;
    gap: 16px;
    align-items: center;

    .noImage {
        width: 40px;
        height: 40px;
        background-color: red;
        border-radius: 99px;
    }
    .image {
        position: relative;
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 99px;
        overflow: hidden;
    }
    .username {
        color: $d_main_text_color;
    }
}