@import "/styles/variables.scss";

.middleColumn {
  background-color: $d_main_bg_color;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 48px;

  .search {
    font-size: 16px;
    font-weight: 500;
    padding: 11.5px 24px;
    border-radius: 99px;
    border: 1px solid $d_main_gray_color;
  }
}