@import "/styles/variables.scss";

.profileBlock {
  border-radius: 0 0 8px 8px;
  width: 100%;
  background-color: $d_main_subbg_color;

  .bgImage {
    height: 256px;
    width: 100%;
    left: 0;
    top: -256px;
    position: absolute;
    background-color: $d_main_text_color;
    overflow: hidden;
    border-radius: 0 0 8px 8px;

    img {
      object-fit: cover;
    }
  }

  .header {
    display: flex;
    position: relative;
    gap: 24px;
    box-sizing: border-box;
    margin-top: -80px;
    width: 120px;
    left: 24px;
    
    @media (max-width: 768px) {
      margin-top: -70px;
      width: 120px;
    }

    .left {

      .avatar {
        position: relative;

        .contImg {
          position: relative;
          border: 4px solid $d_main_subbg_color;
          width: 120px;
          height: 120px;
          overflow: hidden;
          background-color: $d_main_bg_color;
          border-radius: 8px;

          @media (max-width: 768px) {
            width: 100px;
            height: 100px;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .info {
    padding: 0 24px 0 24px;
    box-sizing: border-box;
    justify-content: space-between;
    height: 100%;
    display: flex;

    @media (max-width: 768px) {
      height: auto;
      padding: 8px 24px 0 24px;
    }

    .left {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      gap: 12px;

      .followMobile {
        display: none;

        path {
          fill: $d_main_text_color;
        }

        &:hover path {
          fill: $d_main_text_hover_color;
        }

        @media (max-width: 768px) {
          display: flex;
          align-items: center;
          margin: 12px 0;
          gap: 24px;
        }
      }

      .rightMobile {
        display: flex;
        margin-top: 24px;
        margin-bottom: 8px;
        flex-direction: column;

        .name {
          font-size: 24px;
          gap: 8px;
          font-weight: 600;
          display: flex;
          color: $d_main_text_color;
          align-items: center;
          margin-bottom: 12px;

          svg {
            width: 20px;
            height: 20px;
            max-height: 20px;
          }
          div {
            max-height: 22px;
          }
        }
        .description {
          font-size: 14px;
          color: $d_main_text_color;
        }
      }

      .headers {
        display: flex;
        gap: 24px;
        align-items: center;
        margin-bottom: 4px;

        .lvl {
          display: flex;
          align-items: center;
          font-size: 10px;
          color: $const_main_text_color;
          padding: 4px 8px;
          border-radius: 8px;
          background-color: #4A7EE1;
        }
        .subs {
          color: $d_main_subtext_color;
        }
      }
      .date {
        color: $d_main_subtext_color;
      }
      .navigation {
        display: flex;
        gap: 32px;
        padding: 0;
      }
    }
  }
}

.postListContainer {
  width: 100%;
}

@keyframes anim {
  0% {
    opacity: 0;
    top: -50px;
  }
  100% {
    top: 58px;
  }
}