@import "/styles/variables.scss";

.container {
  width: calc(100% - 102px);
  position: relative;
  padding: 0 52px;
  user-select: none;

  @media (max-width: 768px) {
    padding: 0 32px 0 32px;
    width: calc(100% - 64px);
  }

  .inputMain {
    background-color: $d_main_bg_color;
    width: 100%;
    border-radius: $br-14;
    border: none;
    margin: 8px 0;
    outline: none;
    resize: none;
    font-weight: 400;
    color: $d_main_text_color;
    padding: 8px 8px 8px 16px;
    font-size: 16px;
  }

  .placeholder {
    user-select: none;
    pointer-events: none;
    top: 0;
    font-size: 16px;
    padding: 8px 8px 8px 16px;
    color: $d_main_subtext_color;
    position: absolute;
    cursor: text;
  }

  .code {
    padding: 8px 0;
    font-weight: 400;
    font-size: 16px;
  }

  @media (max-width: 768px) {
    .code {
      padding: 8px 0;
      font-weight: 400;
      font-size: 16px;
    }
  }
}
