@import "/styles/variables.scss";

.item {
  display: flex;
  gap: 12px;
  padding: 8px;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:focus-visible {
    border-radius: 8px;
    outline: none;
    background-color: $d_main_bg_color;
  }

  @media (max-width: 768px) {
    padding: 12px;
  }

  svg {
    width: 22px;
    height: 22px;

    @media (max-width: 768px) {
      width: 25px;
      height: 25px;
    }
  }

  path {
    fill: $d_main_text_color;
  }

  circle{
    fill: $d_main_text_color;
  }

  &:hover {
    border-radius: 8px;
    background-color: $d_main_bg_color;
  }

  .text {
    margin: 0;
    font-size: 14px;
    color: $d_main_text_color;
    font-weight: 400;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}