@import "/styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;

  .leftBlock {
    display: flex;
    align-items: center;
    cursor: pointer;

    .avatarLoader {
      width: 32px;
      height: 32px;
      border-radius: 99px;
      background-color: $d_main_bg_color;
    }

    a {
      width: 32px;
      height: 32px;
    }

    .avatar {

      img {
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 99px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
      }

      &:hover {
        opacity: 0.8;
      }
    }
    .name {
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-left: 8px;
      font-weight: 600;

      svg {
        margin-left: 2px;
      }
    }
    .date {
      color: $d_main_gray_color;
      font-size: 12px;
      margin-left: 12px;
      cursor: default;
    }
  }
}