@import "/styles/variables.scss";

.header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;

  .leftBlock {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;

    .avatarLoader {
      width: 38px;
      height: 38px;
      border-radius: 99px;
      background-color: $d_main_bg_color;
    }

    a {
      display: flex;
      gap: 8px;
      text-decoration: none;
    }

    .avatarBg {
      width: 42px;
      height: 42px;
      border-radius: 99px;
      background-color: $d_main_bg_color;
    }

    .avatar {

      img {
        position: relative;
        width: 42px;
        height: 42px;
        border-radius: 99px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;
      margin-top: -4px;
      cursor: pointer;

      .name {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin-left: 8px;
        color: $d_main_text_color;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          color: $d_main_color;
        }
  
        svg {
          margin-left: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 16px;
          height: 16px;
        }
      }
      .date {
        color: $d_main_subtext_color;
        font-size: 12px;
        margin-left: 8px;
        cursor: pointer;
      }
    }
  }

  .btn {
    background-color: $d_main_color;
    border: 0;
    border-radius: 99px;
    padding: 2px 16px;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
  }
  .sub {
    background-color: $d_main_bg_color;
    color: $d_main_text_color;
  }
}

