@import "/styles/variables.scss";

.layout {
  position: relative;
  max-width: 1256px;
  width: 100%;
  margin-top: 60px;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  display: flex;

  .container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 24px;
  }
  
  @media (max-width: 1280px) {
    max-width: 990px;
  }

  .mobileMenu {
    display: none;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    background: $d_main_subbg_glass_color;
    backdrop-filter: blur(8px);
    width: 100%;
    z-index: 30;

    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;

      svg {
        width: 28px;
        height: 28px;
      }

      path {
        fill: $d_main_text_color
      }
      &:hover {
        path {
          fill: $d_main_text_hover_color;
        }
      }

      .avatar {
        position: relative;
        height: 28px;
        width: 28px;
        border-radius: 99px;

        svg {
          border-radius: 99px;
        }

        img {
          border-radius: 99px;
        }
      }
    }

    @media (max-width: 720px) {
      display: flex;
    }
  }
}
