@import "/styles/variables.scss";

.container {
  width: calc(100% - 128px);
  position: relative;
  height: 100%;
  padding: 0 52px;
  margin: 16px 0;
  user-select: none;

  @media (max-width: 768px) {
    padding: 0 32px 0 32px;
    width: calc(100% - 64px);
  }

  ul {
    list-style-type: disc;
  }

  .slash {
    width: 4px;
    border-radius: $br-14;
    position: absolute;
    height: 100%;
    background-color: $d_main_color;
  }

  .inputText {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    margin-left: 20px;
    font-weight: 500;
    color: $d_main_text_color;
    padding: 4px 0 12px 0;
    font-size: 24px;

    li {
      margin-bottom: 12px;
    }
  }
  .inputAuthor {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    margin-left: 20px;
    font-weight: 500;
    color: $d_main_text_color;
    padding: 4px 0 4px 0;
    font-size: 16px;

    li {
      margin-bottom: 12px;
    }
  }

  .placeholder {
    user-select: none;
    pointer-events: none;
    bottom: -5px;
    padding: 8px 0;
    margin-left: 20px;
    font-size: 16px;
    color: $d_main_subtext_color;
    position: absolute;
    cursor: text;
  }

  .text {
    padding: 8px 0;
    font-weight: 400;
    font-size: 16px;
  }

  @media (max-width: 768px) {
    .text {
      padding: 8px 0;
      font-weight: 500;
      font-size: 16px;
    }
  }
}
