@import "/styles/variables.scss";

.subs {
  padding: 16px 10px;
  background-color: $d_main_subbg_color;
  border-radius: 8px;

  .title {
    margin: 0;
    padding: 0 0 12px 14px;
    font-size: 16px;
    color: $d_main_text_color;
    cursor: pointer;

    span {
      margin-left: 4px;
      font-weight: 300;
      color: $d_main_subtext_color;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    margin: 6px 14px;
    gap: 12px;
  }

  a {
    text-decoration: none;
  }
}

.borderR {
  border-radius: 99px;
}

.rounded {
  border-radius: 99px;
}