@import "/styles/variables.scss";

.item {
  height: 38px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  padding: 0 4px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    cursor: pointer;

    .left {
      display: flex;

      .avatar {
        position: relative;
        width: 38px;
        height: 38px;

        .images {
          position: relative;
          border: 3px solid #F2C94C;
          width: 32px;
          overflow: hidden;
          height: 32px;
          border-radius: 99px;
        }

        .number {
          position: absolute;
          font-size: 8px;
          bottom: 1px;
          right: 1px;
          background-color: #F2C94C;
          padding: 2px 4px;
          border-radius: 99px;
        }

        img {

        }

      }
      .name {
        display: flex;
        align-items: center;
        margin-left: 8px;
        font-size: 16px;
        color: $d_main_black_color;

        svg {
          margin-left: 4px;
        }
      }
    }
    .add {
      display: flex;
      align-items: center;
      padding: 5px 12px;
      color: $d_main_white_color;
      font-size: 12px;
      background-color: $d_main_black_color;
      border-radius: 99px;
    }
    .rating {
      display: flex;
      align-items: center;
      padding: 5px 12px;
      color: $d_main_white_color;
      font-size: 12px;
      background-color: $d_main_black_color;
      border-radius: 99px;

      svg {
        margin-right: 4px;

        path {
          fill: $d_main_white_color;
        }
      }
    }
  }

  .images {
    display: flex;
    height: 100%;
    gap: 8px;
    transition: all 0.2s ease-in-out;

    .contImg {
      position: relative;
      width: 77px;
      overflow: hidden;
      border-radius: 8px;
      height: 70px;
    }

    .img {
      width: 100%;
      object-fit: cover;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.activeItem {
  height: 124px;
  animation-fill-mode: forwards;
}