@import "/styles/variables.scss";

.container {

  position: relative;

  .navigation {
    position: absolute;
    width: 100%;
    display: flex;
    max-height: 48px;
    box-sizing: border-box;
    background-color: $d_main_subbg_glass_color;
    border-radius: 8px;
    margin: 0;
    gap: 32px;
    z-index: 1;
    padding: 16px 24px;
  
    @media screen and (max-width: 640px) {
      border-radius: 0;
    }
  }
}

