@import "/styles/variables.scss";

.navigation {
  position: relative;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  background-color: $d_main_white_color;
  border-radius: 8px;
  margin: 0;
  gap: 32px;
  z-index: 1;
  padding: 16px 24px;
}

.navigationFixed {
  position: fixed;
  width: 640px;
  z-index: 9999;
  top: 0;
  .navigation {
    opacity: 1;
    position: absolute;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 28px 20px -19px rgb(30 50 54 / 10%);
  }
  
  @media (max-width: 1280px) {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    top: 49px;
    .navigation {
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(8px);
    }
  }
  
  
}
