@import "/styles/variables.scss";

.toolbar {
  display: flex;
  margin-top: 16px;
  align-items: center;
  justify-content: space-between;

  .leftBlock {
    display: flex;
    gap: 32px;
    align-items: center;
    .views {
      display: flex;
      align-items: center;
      
      svg {
        width: 22px;
        height: 22px;

        path {
          fill: $d_main_text_color
        }
      }
      .title {
        margin-left: 6px;
        width: 20px;
        font-size: 15px;
        font-weight: 500;
        color: $d_main_text_color;
        cursor: default;
      }
    }

    .mark {
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        
        padding: 4px;
        border-radius: 16px;
        background-color: $d_main_subbg_color;
        width: 22px;
        height: 22px;

        path {
          stroke: $d_main_text_color
        }
      }

      &:hover {
        
        svg {
          background-color: $d_main_bg_color;
        }
        path {
          stroke: $d_main_color;
        }
      }
    }
  }

  .rightBlock {
    display: flex;
    align-items: center;
    gap: 32px;

    a {
      text-decoration: none;
    }

    .comments {
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        width: 22px;
        height: 22px;
        padding: 4px;
        border-radius: 16px;
        background-color: $d_main_subbg_color;
        path {
          fill: $d_main_text_color
        }
      }

      &:hover {
        .title {
          color: $d_main_color;
        }
        svg {
          background-color: $d_main_bg_color;
        }
        path {
          fill: $d_main_color;
        }
      }

      .title {
        font-size: 15px;
        margin-left: 6px;
        font-weight: 500;
        color: $d_main_text_color;
      }
    }
  }

}