@import "/styles/variables.scss";


.containerInput {
  display: flex;
  flex-direction: column;

  .title {
    color: $d_main_text_color;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 6px;
  }

  .search,
  .active {
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 8px;
    color: $d_main_text_color;
    background-color: $d_main_bg_color;
    border: 1px solid $d_main-Bg-color-hover;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0);
      border-color: $d_main_bg_color;
    }
  }

  .active {
    background-color: rgba(0, 0, 0, 0);
    border-color: $d_main_black_color;
  }
}

.big {
  height: 60px;
}

.small {
  height: 32px;
}