@import "/styles/variables.scss";


.containerInput {
  display: flex;
  flex-direction: column;

  .title {
    color: $d_main_text_color;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 6px;
  }

  .search,
  .active {
    padding: 11px 16px;
    border: 1px solid $d_main_bg_color;
    border-radius: 8px;
    font-size: 16px;
    background-color: $d_main_bg_color;
    color: $d_main_text_color;
    transition: all 0.1s ease-in-out;
  
    &:hover {
      background-color: $d_main_subbg_color;
      border: 1px solid $d_main_color;
      box-shadow: 0 0 2px 3px rgba(#9E5BF0, 0.2);
    }
  }

  .active {
    background-color: $d_main_subbg_color;
    border: 1px solid $d_main_color;
    box-shadow: 0 0 2px 3px rgba(#9E5BF0, 0.2);
  }
}

.big {
  height: 60px;
}

.small {
  height: 32px;
}