@import "/styles/variables.scss";

.titleCard {
  margin: 0;
  color: $d_main_text_color;
  font-size: 18px;
  font-weight: 500;
  border-radius: 2px;
  margin-top: -1px;

  @media screen and (max-width: 787px) {
    font-size: 16px;
  }
}

.topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;

  @media screen and (max-width: 787px) {
    gap: 6px;
  }

  .icon {
    height: 32px;
    padding: 1px;
    border-radius: 99px;
    width: 32px;
    margin-left: -4px;
    cursor: pointer;
    svg {
      width: 32px;
      height: 32px;
      path {
        fill: $d_main_text_color;
      }
    }

    &:hover {
      background-color: $d_main_bg_color;
    }

    @media screen and (max-width: 720px) {
      width: 28px;
      height: 28px;

      svg {
        width: 28px;
        height: 28px;
      }
    }
  }
}

.bar {
  border: none;
  width: calc(100% + 48px);
  margin-left: -24px;
  background-color: $d_main_bg_color;
  color: $d_main_color;
  height: 1px; /* Толщина линии */


  @media screen and (max-width: 787px) {
    width: calc(100% + 32px);
    margin-left: -16px;
  }
}
