.menu {
  position: absolute;
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
  right: 16px;
  margin-top: 10px;
  top: 50px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.menuItem {
  height: 0px;
  width: 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
  position: absolute;
  animation-fill-mode: backwards;
}

.unAuthProfile{
  margin-right: 16px;
  
  svg {
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }
}

.unAuthProfileFixed {
  z-index: 1232;
  top: 4px;
  position: fixed;
}