@import "/styles/variables.scss";

.mobileMenu {
    display: none;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    background: $d_main_subbg_glass_color;
    backdrop-filter: blur(8px);
    width: 100%;
    z-index: 30;
    box-shadow: 0px -1px 24px 0px rgba(0, 0, 0, 0.25);

    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;

      svg {
        width: 28px;
        height: 28px;
      }

      path {
        fill: $d_main_text_color
      }
      rect {
        stroke: $d_main_text_color;
      }
      &:hover {
        path {
          fill: $d_main_text_hover_color;
        }
        rect {
          stroke: $d_main_text_color;
        }
      }

      .avatar {
        position: relative;
        height: 28px;
        width: 28px;
        border-radius: 99px;

        svg {
          border-radius: 99px;
        }

        img {
          object-fit: cover;
          border-radius: 99px;
        }
      }
    }

    @media (max-width: 720px) {
      display: flex;
    }
  }