@import "/styles/variables.scss";
.container {
  position: relative;

}
.subtitle {
  font-size: 20px;
  margin: 16px 0 12px 0;
  line-height: 27px;
  color: $d_main_text_color;
  font-weight: 500;
  word-break: break-word;
}