@import "/styles/variables.scss";

.contacts {
  padding: 16px 24px;
  display: flex;
  background-color: $d_main_subbg_color;
  border-radius: 8px;
  flex-direction: column;
  gap: 12px;

  .title {
    margin: 0;
    font-size: 16px;
    color: $d_main_text_color;
  }

  .item {
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: $d_main_text_color;
      font-size: 14px;
      padding-bottom: 2px;
      margin-top: 2px;
      border-bottom: 1px dashed rgba(0, 0, 0, 0);
    }
    svg {
      width: 24px;
      height: 24px;
      margin-top: -1px;
      margin-right: 8px;

      path {
        fill: $d_main_text_color;
      }
    }
    &:hover {
      a {
        color: $d_main_color;
      }
      path {
        fill: $d_main_color;
      }
    }
  }
}

.politics {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
  padding: 0 24px;

  a {
    color: $d_main_subtext_color;

    &:hover {
      color: $d_main_hover;
    }
    &:active {
      color: $d_main_active;
    }
  }
}
