@import "/styles/variables.scss";

.authPopup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    .container {
        position: relative;
        width: 640px;
        display: flex;
        height: 531px;
        border-radius: 8px;
        background-color: $d_main_bg_color;

        @media (max-width: 768px) {
            width: 100%;
            align-items: center;
            height: 100%;
            flex-direction: column;
        }

        .close {
            position: absolute;
            top: 32px;
            right: 32px;
            cursor: pointer;

            svg {
                width: 32px;
                height: 32px;
                transform: rotate(45deg);
            }
            rect {
                fill: $d_main_color
            }
        }

        .leftBlock {
            width: 160px;
            height: 100%;
            position: relative;
            overflow: hidden;
            border-radius: 8px 0 0 8px;

            @media (max-width: 768px) {
                width: 100%;
                height: 40%;
                max-height: 320px;
            }
        }
    }
}