@import "/styles/variables.scss";

.toolbar {
  position: absolute;
  top: 4px;
  left: 18px;

  @media (max-width: 768px) {
    top: auto;
    left: 16px;
    bottom: -28px;
    z-index: 2;
  }

  .newForm {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    padding: 2px;
    cursor: pointer;
    z-index: -2;

    @media (max-width: 768px) {
      padding: 4px;
      width: 32px;
      height: 32px;
      border-radius: 8px;
      background-color: $d_main_bg_color;
    }

    &:hover {
      background-color: $d_main_bg_color;
      border-radius: 8px;
    }

    path {
      fill: $d_main_text_color;
    }

    svg {
      width: 32px;
      height: 32px;
      transition: all 0.2s ease-in-out;
    }
  }

  .active {
    svg {
      transform: rotate(45deg);
    }
  }

  .dropDownForm {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 190px;
    padding: 4px;
    max-height: 280px;
    box-sizing: border-box;
    background-color: $d_main_subbg_color;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    top: 36px;
    z-index: 12;

    @media (max-width: 768px) {
      position: fixed;
      top: auto;
      left: 0;
      width: 100%;
      padding: 8px;
      max-height: 300px;
      height: 100%;
      right: 0;
      bottom: 0;
    }

    .divinet {
      position: relative;
      width: calc(100% + 8px);
      margin: 4px 0;
      height: 1px;
      margin-left: -4px;
      background-color: $d_main_bg_color;
    }

    .search {
      width: 100%;

      .containerInput {
        display: flex;
        gap: 8px;
        padding: 8px;
        width: 100%;
        box-sizing: border-box;
        align-items: center;

        .icon {
          width: 18px;
          height: 18px;
          
          @media (max-width: 768px) {
            width: 25px;
            height: 25px;
          }
          svg {
            width: 18px;
            height: 18px;

            @media (max-width: 768px) {
              width: 25px;
              height: 25px;
            }

            path {
              fill: $d_main_text_color;
            }
          }
        }
        .search {
          width: 100%;
          font-size: 14px;
          color: $d_main_text_color;
          background-color: rgba(0, 0, 0, 0);

          @media (max-width: 768px) {
            font-size: 16px;
          }
        }
      }
    }

    .centerText {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      margin: 0;
      font-size: 14px;
      color: $d_main_text_color;
      font-weight: 400;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }

    .itemList {
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 2px;
      }
    }

    .item {
      display: flex;
      gap: 12px;
      padding: 8px;
      align-items: center;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      &:focus-visible {
        border-radius: 8px;
        outline: none;
        background-color: $d_main_bg_color;
      }

      @media (max-width: 768px) {
        padding: 12px;
      }

      svg {
        width: 22px;
        height: 22px;

        @media (max-width: 768px) {
          width: 25px;
          height: 25px;
        }
      }

      path {
        fill: $d_main_text_color;
      }

      circle{
        fill: $d_main_text_color;
      }

      &:hover {
        border-radius: 8px;
        background-color: $d_main_bg_color;
      }

      .text {
        margin: 0;
        font-size: 14px;
        color: $d_main_text_color;
        font-weight: 400;

        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }
}
