@import "/styles/variables.scss";

.title {
  font-size: 20px;
  margin: 12px 0;
  line-height: 27px;
  color: $d_main_text_color;
  font-weight: 600;
  word-break: break-word;
  white-space: pre-wrap;
}
