@import "/styles/variables.scss";

.loginRight {
  display: flex;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  background-color: $d_main_white_color;
  border-radius: 8px;
  padding: 32px 24px 24px 24px;
  gap: 16px;
  align-items: center;

  .arrows {
    top: 5px;
    left: 5px;
    position: absolute;
  }

  .title {
    margin: 0;
    font-size: 16px;
    color: $d_main_black_color;
  }

  .container {
    box-sizing: border-box;
    width: 100%;
  }

}