

.popupImg {
  position: fixed;
  opacity: 0;
  width: 100%;
  display: flex;
  z-index: -2;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  animation-fill-mode: backwards;
  transition: all 0.2s ease-in-out;

  .image {
    width: 92%;
    object-fit: contain;
    max-height: 90vh;
    animation: top 0.2s ease-in-out forwards;
  }

  .close {
    top: 20px;
    right: 20px;
    transform: rotate(45deg);
    position: absolute;

    svg {
      width: 48px;
      height: 48px;
      cursor: pointer;
    }
  }
}

.popupImgOpen {
  z-index: 9999999;
  opacity: 1;
  animation: anim 0.1s ease-in-out forwards;
}

@keyframes top {
  0% {
    width: 0;
  }
  100% {
    width: 92%;
  }
}