@import "/styles/variables.scss";

.comments {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 12px;
  padding: 12px 16px;
  border: 1px solid $d_main_bg_color;
  border-radius: 8px;
  background-color: $d_main_bg_color;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: $d_main_subbg_color;
    border: 1px solid $d_main_color;
    box-shadow: 0 0 2px 3px rgba(#9E5BF0, 0.2);
  }

  input {
    font-size: 16px;
    overflow-y: hidden;
    margin-bottom: 8px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: $d_main_text_color;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 500;
    resize: none;
    border: 0;
    outline: none;
  }

  .footer {
    display: flex;
    align-items: center;
    height: 32px;
    justify-content: space-between;

    .left {
      display: flex;
      gap: 12px;

      .icon {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        justify-content: center;
        transition: background-color 0.05s ease-in-out;

        &:hover {
          background-color: $d_main_bg_color;
        }
      }
      
      svg {
        cursor: pointer;

        path {
          transition: all 0.1s ease-in-out;
          fill: $d_main_text_color;
        }
      }
    }
  }
}

.toolComment {
  display: flex;
  width: 100%;
  margin-top: 6px;
  align-items: center;
  justify-content: space-between;

  .leftBlock {
    display: flex;
    gap: 16px;
    align-items: center;
    .views {

      .text {
        font-size: 14px;
        font-weight: 500;
        color: $d_main_subtext_color;
        cursor: pointer;

        &:hover {
          color: $d_main_hover;
        }
        &:active {
          color: $d_main_active;
        }
      }
    }

    .mark {
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;

        path {
          fill: $d_main_subtext_color;
        }
      }

      &:hover {
        path {
          transition: all 0.1s ease-in-out;
          fill: $d_main_hover;
        }
      }
    }
  }

  .rightBlock {
    display: flex;
    align-items: center;
    gap: 32px;

    a {
      text-decoration: none;
    }

    .comments {
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
      }

      &:hover {
        .title {
          color: $d_main_color;
        }
        path {
          transition: all 0.1s ease-in-out;
          fill: $d_main_color;
        }
      }

      .title {
        margin-top: 1px;
        font-size: 14px;
        margin-left: 6px;
        font-weight: 500;
        color: $d_main_black_color;
      }
    }
  }

}