@import "/styles/variables.scss";

.container {
    position: relative;
    padding: 0 64px;
    margin-bottom: 8px;

    @media (max-width: 768px) {
        padding: 0 32px 0 32px;
    }

    .mediaBlock {
        position: relative;
        width: 100%;
        min-height: 300px;

        img {
            object-fit: contain;
        }

        .player {
            width: 100% !important;
        }
    }

    .linkBlock {
        position: relative;
        display: flex;
        padding: 18px 16px;
        justify-content: center;
        align-items: center;
        background-color: $d_main_text_color;
        border-radius: 8px;
        transition: all 0.1s ease-in-out;

        &:hover {
            background-color: $d_main_text_hover_color;
        }
        
        .link {
            width: 100%;
            font-size: 16px;
            color: $d_main_bg_color;
            background-color: rgba(0, 0, 0, 0);
        }
    }
}