@import "/styles/variables.scss";

.tab {
  padding: 12px 16px;
  border-radius: $br-14;
  display: flex;
  width: 100%;
  gap: 12px;
  font-size: 16px;
  color: $d_main_text_color;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  @media screen and (max-width: 1280px) {
    max-width: 40px;
    max-height: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;

    svg {
      margin: 0 auto;
    }

    span {
      display: none;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    svg {
      width: 24px;
      height: 24px;
      path {
        fill: $d_main_text_color;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }

  &:hover {
    background-color: $d_main_subbg_color;
    color: $d_main_text_color;
  }

  svg {
    margin-top: -2px;
    width: 28px;
    height: 28px;
  }
  circle {
    stroke: $d_main_text_color;
  }
}

.active {
  background-color: $d_main_subbg_color;
  .icon {
    svg {
      path {
        fill: $d_main_color;
      }
    }
  }
}
