@import "/styles/variables.scss";

.premium {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  background-color: $d_main_white_color;
  border-radius: 8px;
  gap: 16px;
  align-items: center;

  .promoImg {
    position: relative;
    width: 100%;
    height: 130px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: linear-gradient(96.19deg, #7CA1FF 8.76%, #B073FF 95.43%);

    .title {
      position: absolute;
      font-size: 44px;
      color: $d_main_white_color;
      animation: left 1s ease-in-out forwards;
    }
    .subtitle {
      position: absolute;
      font-size: 15px;
      width: 148px;
      color: $d_main_white_color;
      animation: right 1s ease-in-out forwards;
    }
  }

  .container {
    box-sizing: border-box;
    padding: 0 24px 16px;
    width: 100%;
  }

}

@keyframes left {
  0% {
    opacity: 0;
    left: -100px;
  }
  100% {
    opacity: 1;
    left: 24px;
  }
}

@keyframes right {
  0% {
    opacity: 0;
    right: -100px;
  }
  100% {
    opacity: 1;
    right: 33px;
  }
}