@import "/styles/variables.scss";

.menu {
  position: relative;
  width: 100%;
  max-width: 640px;
  height: calc(100vh - 140px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;

  .title {
    font-size: 16px;
    margin: 0 0 16px 16px;
    color: $d_main_text_color;
  }

  a {
    text-decoration: none;
  }

  .mrBottom {
    margin-bottom: 28px;
  }

  .lists {
    display: flex;
    flex-direction: column;
  }

  .block {
    background-color: $d_main_subbg_color;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;

    .userMenu {
      position: relative;
      display: flex;
      width: 100%;
      align-items: center;
      gap: 16px;
      border-radius: 99px;
      transition: all 0.1s ease-in-out;
  
  
      .bgAvatar {
        width: 28px;
        height: 28px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
  
        path {
          fill: $const_main_text_color;
        }
      }
  
      .arrow {
        width: 18px;
        height: 18px;
        position: absolute;
        transform: rotate(-90deg);
        right: 0;
  
        svg {
          path {
            fill: $d_main_subtext_color;
          }
        }
      }
  
      .userName {
        margin: 0;
        color: $d_main_text_color;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
      }
  
      .avatar {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 99px;
  
        svg {
          border-radius: 99px;
          width: 50px;
          height: 50px;
        }
  
        &:hover {
          opacity: 0.8;
        }
  
        img {
          border-radius: 99px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.user {
  display: flex;
  cursor: pointer;
  margin-right: 16px;

  .avatar {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 99px;
    margin-right: 8px;

    &:hover {
      opacity: 0.8;
    }

    img {
      border-radius: 99px;
      width: 100%;
      height: 100%;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-right: 32px;
    justify-content: center;

    .name {
      margin: 0;
      font-size: 12px;
      color: $d_main_text_color;
      margin-top: 4px;
    }

    .subtitle {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: $d_main_color;

      svg {
        margin-right: 4px;
      }
      path {
        fill: $d_main_color;
      }
    }
  }

  .arrowDown {
    display: flex;
    align-items: center;
    transition: all 80ms ease-in-out;

    path {
      fill: $d_main_text_color
    }

    &:hover {
      path {
        fill: $d_main_text_color
      }
    }
  }
}

.blue {
  background: linear-gradient(56deg, #3592FF 0%, #5200FF 100%);  
}

.orange {
  background: linear-gradient(56deg, #FFC635 0%, #FF8A00 100%);
}

.purple {
  background: linear-gradient(56deg, #950ED4 0%, #B300C2 100%);
}

.green {
  background: linear-gradient(56deg, #4EBF09 0%, #00C294 100%);
}

.gray {
  background: linear-gradient(56deg, #858585 0%, #D2D2D2 100%);
}