@import "/styles/variables.scss";

.counter {
  display: flex;
  align-items: center;
  height: 22px;
  gap: 6px;

  .like {
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      path {
        fill: $d_main_color;
      }
    }
    &:hover ~ .title {
      color: $d_main_color;
    }

    svg {
      width: 22px;
      height: 22px;
      path {
        fill: $d_main_text_color;
      }
    }
  }
  .title {
    font-size: 15px;
    font-weight: 500;
    color: $d_main_text_color;
  }
}