@import "/styles/variables.scss";

.counter {
  display: flex;
  position: relative;
  align-items: center;
  height: 24px;
  gap: 6px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    .like,
    .liked {
      background-color: $d_main_bg_color;
      svg {
        path {
          fill: #f05353;
        }
      }
    }
    .title {
      color: #f05353;
    }
  }

  .like {
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 4px;
    border-radius: 16px;
    background-color: $d_main_subbg_color;
    transition: all 0.1s ease-in-out;

    svg {
      width: 24px;
      height: 24px;
      path {
        fill: $d_main_text_color;
      }
    }
  }

  .liked {
    width: 22px;
    height: 22px;
    cursor: pointer;
    padding: 4px;
    border-radius: 16px;
    background-color: $d_main_subbg_color;
    transition: all 0.1s ease-in-out;

    svg {
      width: 22px;
      height: 22px;
      path {
        fill: #f05353;
      }
    }
  }

  .title {
    font-size: 15px;
    font-weight: 500;
    color: $d_main_text_color;
  }

  .dropmenu {
    position: absolute;
  }
}
