@import "/styles/variables.scss";

.drafts {
    display: flex;
    flex-direction: column;
    background-color: $d_main_subbg_color;
    border-radius: 8px;
    margin-top: 16px;
    padding: 10px;
    gap: 8px;

    a {
        text-decoration: none;
    }
  }