@import "../../../styles/variables";

.leftColumn {
  position: relative;
  min-width: 40px;
  max-width: 50px;
  margin-top: 64px;

  .navigationLeft {
    position: fixed;
    min-width: 50px;
    max-width: 50px;
    width: 100%;
  }

  .logotype{
    cursor: pointer;
    width: 127px;

    svg:active {

      path {
        transition: all 80ms ease-in-out;
        fill: $d_main_gray_color;
      }
    }
  }
}

.middleColumn {
  max-width: 936px;
  width: 100%;
  margin-top: 8px;

  .search {
    font-size: 16px;
    font-weight: 500;
    padding: 11.5px 24px;
    border-radius: 99px;
    border: 1px solid $d_main_gray_color;
  }
}

.rightColumn {
  margin-top: 64px;
  display: flex;
  min-width: 296px;
  flex-direction: column;
  gap: 16px;
  max-width: 296px;

  @media (max-width: 1000px) {
    display: none;
  }

  .containerRight {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .fixed {
    top: -720px;
    min-width: 296px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 296px;
    position: fixed;
  }
}