@import "/styles/variables.scss";

.rightBlock {
    position: relative;
    width: 480px;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;

    @media (max-width: 768px) {
        width: 100%;
        max-width: 480px;
        height: 100%;
        margin-bottom: 64px;
        padding: 0 24px;
    }


    .title {
        font-size: 28px;
        margin: 0 0 12px 0;
        color: $d_main_text_color;
    }

    .description {
        font-size: 18px;
        margin: 0 0 18px 0;
        color: $d_main_text_color;
    }
    
    .formInput {
        position: relative;
    
        .input {
            position: relative;
            padding: 16px 12px;
            border-radius: 8px;
            width: 100%;
            font-size: 16px;
            color: $d_main_text_color;
            background-color: $d_main_subbg_color;
            margin-bottom: 18px;
        }
    
        .error {
            margin-bottom: 32px;
        }
        .errorText {
            bottom: 8px;
            left: 12px;
            position: absolute;
            font-size: 16;
            color: $d_main_text_color;
        }
    }
    
    .button {
        padding: 16px 12px;
        border-radius: 8px;
        background-color: $d_main_color;
        margin-top: 16px;
        font-weight: 700;
        color: #FFFFFF;
        font-size: 16px;
        margin-bottom: 18px;
        cursor: pointer;
    }
    
    .text {
        font-size: 16;
        margin-top: 32px;
        color: $d_main_text_color;

        @media (max-width: 500px) {
            margin-top: 16px;
        }

        .link {
            color: $d_main_color;
            cursor: pointer;
        }
    }

    .oauth {
        width: 100%;
        position: relative;
        display: flex;
        gap: 8px;
        margin-top: 8px;
        flex-direction: column;

        @media (max-width: 500px) {
            gap: 8px;
        }

        .subTitle {
            color: $d_main_text_color;
        }

        .google {
            position: relative;
            width: 100%;
            padding: 12px 0;
            display: flex;
            justify-content: center;
            border-radius: 8px;
            height: 38px;
            background-color: $d_main_subbg_color;

            @media (max-width: 500px) {
                padding: 2px;
            }

            div {
                top: 0;
                left: 0;
                width: 100%;
                height: 62px !important;
                position: absolute !important;
                opacity: 0;

                iframe {
                    width: 100% !important;
                    height: 62px !important;
                    margin: 0 !important;
                }
            }
        }
    }
    
}