@import "/styles/variables.scss";

.comments {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 12px;
  padding: 12px 16px;
  border: 1px solid $d_main_bg_color;
  border-radius: 8px;
  background-color: $d_main_bg_color;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: $d_main_subbg_color;
    border: 1px solid $d_main_color;
    box-shadow: 0 0 2px 3px rgba(#9e5bf0, 0.2);
  }

  input {
    font-size: 16px;
    overflow-y: hidden;
    margin-bottom: 16px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: $d_main_text_color;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 500;
    resize: none;
    border: 0;
    outline: none;
  }

  .footer {
    display: flex;
    align-items: flex-end;
    min-height: 32px;
    justify-content: space-between;

    .left {
      display: flex;
      gap: 12px;

      .photo {
        position: relative;
        width: 64px;
        height: 64px;
        overflow: hidden;
        border-radius: 8px;

        [data-rmiz-modal-overlay="hidden"] {
          background-color: rgba(0, 0, 0, 0);
        }
        [data-rmiz-modal-overlay="visible"] {
          background-color: rgba(0, 0, 0, 0.6) !important;
        }
        [data-rmiz] {
          height: 64px;
        }

        &:hover > .trash {
          display: flex;
        }

        img {
          position: absolute;
          width: 100%;
          object-fit: cover;
          height: 100%;
        }

        .trash {
          height: 24px;
          width: 24px;
          display: none;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 18px;
          right: 17px;
          padding: 3px;
          border-radius: 8px;
          background-color: $d_main_subbg_color;
          z-index: 22;
          cursor: pointer;

          svg {
            width: 18px;
            height: 18px;
          }
        }
      }

      .icon {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        justify-content: center;
        transition: background-color 0.05s ease-in-out;

        &:hover {
          background-color: $d_main_bg_color;
        }
      }

      svg {
        cursor: pointer;

        path {
          transition: all 0.1s ease-in-out;
          fill: $d_main_text_color;
        }
      }
    }
    .file {
      display: none;
    }

    .buttonlist {
      display: flex;
      gap: 16px;
    }
  }
}

.active {
  background-color: $d_main_subbg_color;
  border: 1px solid $d_main_color;
  box-shadow: 0 0 2px 3px rgba(#9e5bf0, 0.2);
}
