@import "/styles/variables.scss";

.container {
    width: 100%;
    min-height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
        width: 32px;
        height: 32px;
        border: 3px solid $d_main_text_color;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 0.6s linear infinite;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}