@import "/styles/variables.scss";

.newInput {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .title {
    color: $d_main_text_color;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    margin: 0;
  }

  .container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100px;

    .input {
      padding: 11px 15px;
      box-sizing: border-box;
      width: 100%;
      font-size: 16px;
      border-radius: 8px;
      color: $d_main_text_color;
      font-family: "Arial";
      line-height: 150%;
      border: 1px solid $d_main_bg_color;
      background-color: $d_main_bg_color;
      transition: all 0.1s ease-in-out;
      resize: none;

      &:hover {
        background-color: $d_main_subbg_color;
        border: 1px solid $d_main_color;
        box-shadow: 0 0 2px 3px rgba(#9e5bf0, 0.2);
      }

      &:focus {
        background-color: $d_main_subbg_color;
        border: 1px solid $d_main_color;
        box-shadow: 0 0 2px 3px rgba(#9e5bf0, 0.2);
      }
    }

    .maxValue {
      position: absolute;
      right: 16px;
      top: 10px;
      padding: 4px 0 4px 4px;
      background-color: rgba(0, 0, 0, 0);
      color: $d_main_subtext_color;
      font-size: 12px;
    }
  }
}
