@import "/styles/variables.scss";

.comment {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;

  // &:before {
  //   content: "";
  //   position: absolute;
  //   width: 2px;
  //   background-color: red;
  //   height: 100%;
  //   left: -32px;
  //   bottom: 0;
  // }

  .topBlock {
    position: relative;
    display: flex;
    gap: 12px;
  }

  .rightInfo {
    width: 100%;
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    gap: 2px;

    a {
      margin-bottom: 8px;
    }

    .name {
      color: $d_main_text_color;
      font-size: 16px;
      display: flex;
      align-items: center;
      font-size: 16px;
      color: $d_main_text_color;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        color: $d_main_color;
      }

      svg {
        margin-left: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
      }
    }
    .date {
      color: $d_main_subtext_color;
      font-size: 12px;
      margin-top: 4px;
      margin-bottom: 12px;
      font-weight: 500;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .text {
        color: $d_main_text_color;
        font-size: 16px;
        word-break: break-word;
        margin: 0;
        font-weight: 500;
      }
      .img {
        width: 50%;

        div {
          display: flex;
          justify-content: flex-start;
          width: auto;
          margin: 0;
          overflow: hidden;
          border-radius: 8px;
        }
      }
    }
  }

  .replyComments {
    margin-left: -30px;
  }

  .comment .rightInfo > .replyComments .comment .rightInfo > .replyComments .comment .rightInfo > .replyComments .comment .rightInfo > .replyComments .comment .rightInfo {
    .replyComments {
      margin-left: -57px;

    }
  }

  .avatar {
    position: relative;
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
    border-radius: 99px;

    img {
      object-fit: cover;
      width: 45px;
      height: 45px;
      border-radius: 99px;
    }
  }
}