@import "/styles/variables.scss";

.editor {
  max-width: 700px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: flex-start;
  margin-top: 54px;
  flex-direction: column;
  background-color: $d_main_subbg_color;
  border-radius: 8px;
  padding: 24px 0;

  @media (max-width: 768px) {
    width: 100%;
    min-width: 0;
    margin-bottom: 60px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .editor_list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 1px;
      background-color: #f9f9fd;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $d_main_color;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
      border-radius: 10px;
      background-color: $d_main_text_color;
    }

    .createNewBlock {
      width: 100%;
      height: 100px;
      min-height: 300px;
    }

    .titleInput {
      background-color: rgba(0, 0, 0, 0);
      color: $d_main_text_color;
      font-size: 20px;
      margin-bottom: 20px;
    }

    .title {
      color: $d_main_text_color;
      font-size: 20px;
      margin-bottom: 16px;
    }

    .descriptionInput {
      background-color: rgba(0, 0, 0, 0);
      color: $d_main_text_color;
      font-size: 16px;
      margin-bottom: 20px;
    }

    .description {
      color: $d_main_text_color;
      font-size: 16px;
      margin-bottom: 16px;
    }
    .image {
      display: flex;
      position: relative;
      width: 100%;
      min-height: 100px;
      height: 100%;
      max-height: 300px;

      img {
        object-fit: contain;
      }
    }
  }
}