@import "/styles/variables.scss";

.notificationItem {
  width: 100%;
  background-color: $d_main_subbg_glass_color;
  backdrop-filter: blur(20px);
  padding: 10px;
  pointer-events: all;
  display: flex;
  gap: 8px;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;

  .icon {
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3fc344;
    border-radius: 12px;

    .bg {
      background-color: $const_main_text_color;
      width: 26px;
      height: 26px;
      border-radius: 99px;

      path {
        fill: #3fc344;
      }
    }
  }

  .title {
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: $d_main_text_color;
  }
}

.error {
  .icon {
    background-color: #c33f3f;

    .bg {
      background-color: $const_main_text_color;
      width: 26px;
      height: 26px;
      border-radius: 99px;

      svg {
        transform: rotate(45deg);
        width: 26px;
        height: 26px;
      }

      rect {
        fill: #c33f3f;
      }
    }
  }
}
