.layout {
  position: relative;
  max-width: 1256px;
  width: 100%;
  gap: 50px;
  margin: 16px 0 0 0;
  justify-content: center;
  align-items: flex-start;
  display: flex;

  @media screen and (max-width: 1280px) {
    max-width: 1056px;
  }
  @media screen and (max-width: 1024px) {
    max-width: 976px;
  }
  @media screen and (max-width: 980px) {
    max-width: 640px;
  }

  .leftColumn {
    max-width: 220px;
    width: 100%;
    display: flex;
    top: 76px;
    position: sticky;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    @media screen and (max-width: 1280px) {
      max-width: 40px;
    }

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  .middleColumn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rightColumn {
    max-width: 296px;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: -500px;
    position: sticky;
    gap: 16px;
    justify-content: flex-end;

    @media screen and (max-width: 980px) {
      display: none;
    }
  }
}
