@import "/styles/variables.scss";

.title {
    font-size: 24px;
    color: $d_main_text_color;
}

.container {
    display: flex;
    gap: 42px;
    flex-wrap: wrap;

    .avatar {
        padding: 5px;
        width: 90px;
        height: 90px;
        border-radius: 8px;
        background-color: $d_main_subbg_color;
        cursor: pointer;
        box-sizing: border-box;

        &:hover {
            background-color: $d_main_subbg_glass_color;
        }

        img {
            position: relative !important;
            width: 100%;
            border-radius: 99px;
            object-fit: cover;
        }
    }

    .active {
        border: 1px solid $d_main_active;
    }
}

.button {
    padding: 16px 12px;
    border-radius: 8px;
    background-color: $d_main_color;
    margin-top: 16px;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 18px;
    cursor: pointer;
}