@import "/styles/variables.scss";

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: $d_main_white20_color;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  flex-direction: column;

  --border-radius-: #d5b5ff;
  --d_main_active: #a762ff;

  --theme-filter-blur-light: blur(10px) contrast(100%) brightness(100%);

  .adsComponent_ads__kugCP {
    display: none;
  }
}

body {
  transition: background 0.1s ease-in-out;
  background-color: #f0f0f0;
  --d_main_red: #f05353;

  --d_main_bg_color: #f0f0f0;

  --d_main_subbg_color: #ffffff;

  --d_main_subbg_glass_color: rgba(255, 255, 255, 0.5);

  --d_main_text_color: #24292e;
  --d_main_text_hover_color: #2f3237;
  --d_main_text_active_color: #1e2125;

  --d_main_subtext_color: #888888;
  --d_main_subtext_hover_color: #777777;
  --d_main_subtext_active_color: #999999;

  --d_main_gray_color: #888888;
  --d_main_black_color: #131314;
  --d_main_white_color: #ffffff;
  --d_main_white20_color: #f0f0f0;
  --d_main-Bg-color-hover: #ececec;

  --d_main-second-color: #eaeaea;
  --d_main-downsecond-color: #cbcbcb;
}

body[dark] {
  transition: background 0.1s ease-in-out;
  background-color: #131314;
  --d_main_red: #f05353;

  --d_main_bg_color: #131314;

  --d_main_subbg_color: #1c1c1f;

  --d_main_subbg_glass_color: rgba(28, 28, 31, 0.4);

  --d_main_text_color: #e4e4e4;
  --d_main_text_hover_color: #d1d1d1;
  --d_main_text_active_color: #b3b3b3;

  --d_main_subtext_color: #999999;
  --d_main_subtext_hover_color: #7c7c7c;
  --d_main_subtext_active_color: #787878;

  --d_main_gray_color: #888888;
  --d_main_black_color: #24292e;
  --d_main_white_color: #161617;
  --d_main_white20_color: #232324;
  --d_main-Bg-color-hover: #232324;

  --d_main-second-color: #303032;
  --d_main-downsecond-color: #131314;
}

body[red] {
  --d_main_color: #f91841;
  --d_main_hover: #d61538;
  --d_main_active: #ad102c;
  
  --d_main_dropshadow: rgba(214, 21, 56, 0.2);
}

body[blue] {
  --d_main_color: #1d9bf0;
  --d_main_hover: #1b8edb;
  --d_main_active: #1679bc;
  
  --d_main_dropshadow: rgba(27, 142, 219, 0.2);
}

body[yellow] {
  --d_main_color: #ffd400;
  --d_main_hover: #dcb700;
  --d_main_active: #b89900;
  
  --d_main_dropshadow: rgba(220, 183, 0, 0.2);
}

body {
  --d_main_color: #7856ff;
  --d_main_hover: #6548d6;
  --d_main_active: #533cb0;
}

body[orange] {
  --d_main_color: #ff7a00;
  --d_main_hover: #cf6300;
  --d_main_active: #a75000;
  
  --d_main_dropshadow: rgba(207, 99, 0, 0.2);
}

body[green] {
  --d_main_color: #00ba7c;
  --d_main_hover: #009462;
  --d_main_active: #007951;
  
  --d_main_dropshadow: rgba(0, 148, 98, 0.2);
}


body[ads] {
  .header_header__kQhLA {
    margin-top: 200px;

    @media screen and (max-width: 1024px) {
      margin-top: 0;
    }
  }
  .adsComponent_ads__kugCP {
    display: flex;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}


.react-loading-skeleton {
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block;
  background-color: var(--d_main_bg_color);
  width: 100%;
  border-radius: 0.25rem;
  display: inline-flex;
  line-height: 1;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
}

.react-loading-skeleton::after {
  content: " ";
  display: var(--pseudo-element-display);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    90deg,
    var(--d_main_bg_color),
    var(--d_main_subbg_color),
    var(--d_main_bg_color)
  );
  transform: translateX(-100%);
  animation-name: react-loading-skeleton;
  animation-direction: var(--animation-direction);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: $d_main_bg_color;
}

::-webkit-scrollbar-thumb {
  background-color: $d_main_subbg_color;
  border-radius: 4px;
}

.body-overflow-hidden {
  overflow: hidden !important;
  padding-right: 14px;
}

input {
  outline: none;
  border: none;
}

#__next {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: $d_main_bg_color;
}

.infinite-scroll-component__outerdiv {
  width: 100%;
  overflow: hidden !important;
}

.slick-slide {
  width: 274px;
  height: 111px;
  position: relative;
  float: left;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}

.slick-list {
  &:hover > .slick-dots .slick-active div {
    animation: progressBar 6.1s ease-in-out forwards;
  }
}

.slick-track {
  border-radius: 8px;
}

.slick-dots {
  bottom: -14px;

  ul {
    padding: 0;
  }

  li {
    height: 6px;
    width: 6px;
    background-color: $d_main_color;
    border-radius: 99px;
    margin: 0 4px;
  }

  .slick-active {
    width: 30px;
    overflow: hidden;
    height: 6px;
    border-radius: 99px;
    background-color: $d_main_hover;

    div {
      background-color: $d_main_color !important;
      border-radius: 99px;
      height: 6px;
      animation: progressBar 6.1s linear infinite;
    }
  }
}

#newsSlider {
  .slick-list {
    height: 80px;
  }
}
#postImageSlider {
  .slick-slider {
    @media (max-width: 1280px) {
      max-width: 670px;
    }
    @media (max-width: 1024px) {
      max-width: 1920px;
    }

    .slick-list {
      max-height: 500px;

      .slick-slide {
        height: 100%;
      }
    }
  }
}

[data-rmiz-modal-overlay="hidden"] {
  background-color: rgba(0, 0, 0, 0);
}
[data-rmiz-modal-overlay="visible"] {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

a {
  color: $d_main_color;
  text-decoration: none;
}

a:hover {
  color: $d_main_hover;
}

a:active {
  color: $d_main_active;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.video_mediaBlock {
  height: inherit !important;
}

.ce-toolbar__actions {
  left: -60px;
  right: auto !important;
}

.codex-editor--narrow {
  right: auto !important;
  left: auto !important;
}

.popup-overlay {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.4);
}

@keyframes anvil {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.popup-overlay {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.popup-content {
  width: 480px !important;
  background: none !important;
  border: none !important;

  @media screen and (max-width: 660px) {
    width: 100% !important;
  }
}

@keyframes react-loading-skeleton {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(110%);
  }
}
