@import "/styles/variables.scss";

.leftColumn {
  position: relative;
  min-width: 272px;
  max-width: 272px;
  margin-top: 64px;

  @media (max-width: 1280px) {
    display: none;
  }

  .navigationLeft {
    position: fixed;
    min-width: 272px;
    max-width: 272px;
    width: 100%;
  }

  .logotype{
    cursor: pointer;
    width: 127px;

    svg:active {

      path {
        transition: all 80ms ease-in-out;
        fill: $d_main_gray_color;
      }
    }
  }
}

.middleColumn {
  max-width: 640px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 60px;

  .search {
    font-size: 16px;
    font-weight: 500;
    padding: 11.5px 24px;
    border-radius: 99px;
    border: 1px solid $d_main_gray_color;
  }
}

.rightColumn,
.rightColumnFixed {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 296px;

  @media (max-width: 1000px) {
    display: none;
  }

  .fixedBar {
    margin: -12px 0 0 0;
  }
}

.rightColumnFixed {
  display: flex;
  user-select: none;
  z-index: -2;
  justify-self: flex-end;
  margin-top: -911px;
  background-color: $d_main_white20_color;
  position: fixed;
}