

$d_main_color: var(--d_main_color);
$d_main_hover: var(--d_main_hover);
$d_main_active: var(--d_main_active);

$d_main_red: var(--d_main_red);

$d_main_bg_color: var(--d_main_bg_color);

$d_main_subbg_color: var(--d_main_subbg_color);

$d_main_subbg_glass_color: var(--d_main_subbg_glass_color);

$d_main_text_color: var(--d_main_text_color);
$d_main_text_hover_color: var(--d_main_text_hover_color);
$d_main_text_active_color: var(--d_main_text_active_color);

$d_main_subtext_color: var(--d_main_text_color);
$d_main_subtext_hover_color: var(--d_main_text_hover_color);
$d_main_subtext_active_color: var(--d_main_text_active_color);



$d_main_gray_color: var(--d_main_gray_color);
$d_main_black_color: var(--d_main_black_color);
$d_main_white_color: var(--d_main_white_color);
$const_main_text_color: #ffffff;
$d_main_subtext_color: var(--d_main_subtext_color);
$d_main_white20_color: var(--d_main_white20_color);
$d_main_bg_color: var(--d_main_bg_color);
$d_main-Bg-color-hover: var(--d_main-Bg-color-hover);