

$d_main_color: #9E5BF0;
$d_main_hover: #D5B5FF;
$d_main_active: #A762FF;
$d_main_red: #F05353;
$d_main_gray_color: #888888;
$d_main_black_color: #24292E;
$d_main_white_color: #FFFFFF;
$d_main_white20_color: #F0F0F0;
$d_main_bg_color: #F5D9FF;
$d_main-Bg-color-hover: #ececec;