@import "/styles/variables.scss";

.container {
  position: relative;
  width: 100%;

  .search {
  }

  .dropdown {
    position: absolute;
    width: 100%;
    top: 64px;
    box-sizing: border-box;
    z-index: -1;
    border-radius: $br-14;
    padding: 10px 6px;
    background-color: $d_main_subbg_color;
    border: 1px solid $d_main_subbg_color;
    transition: all 0.1s ease-in-out;
    border: 1px solid $d_main_color;
    box-shadow: 0 0 2px 3px $d_main_dropshadow;;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4px;
      padding: 6px 10px;

      .title {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        color: $d_main_text_color;
      }
      .showMore {
        margin: 0;
        font-size: 12px;
        font-weight: 500;
        color: $d_main_subtext_color;
        transition: all 0.1s ease-in-out;

        &:hover {
          color: $d_main_hover;
        }
        &:hover {
          color: $d_main_active;
        }
      }
    }

    .list {
      display: flex;
      overflow-y: scroll;
      max-height: 420px;
      flex-direction: column;
      gap: 6px;

      .empty {
        color: $d_main_text_color;
        margin: 0;
        margin: 8px 0 12px 10px;
      }
    }
    ::-webkit-scrollbar {
      width: 6px;
    }
  }
}
