@import "/styles/variables.scss";

.main {
  width: 100%;
  overflow: hidden !important;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 400px;
  gap: 16px;

  @media screen and (max-width: 768px) {
    margin: 0 12px;
  }

  .item {
    width: 100%;
    min-width: 25%;
    cursor: pointer;

    &:hover .image img {
      transition: all 0.1s ease-in-out;
      filter: brightness(1.4);
    }

    .image {
      position: relative;
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 8px;
      overflow: hidden;

      img {
        object-fit: cover;
      }
    }

    .title {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      color: $d_main_text_color;
      margin: 8px 0 0 0;
    }
    .posts {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      color: $d_main_text_color;
      margin: 4px 0 8px 0;
    }
  }
}

.list {
  width: 100%;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
