@import "/styles/variables.scss";

.container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 16px 0 16px 0;
  max-height: 500px;
  overflow: hidden;
  border-radius: $br-14;
  background-color: $d_main_bg_color;
  gap: 8;
  div {
    line-height: 0;
  }
}

.imageCont {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.img {
  width: 100%;
  max-height: 500px;
}

.imgPopup {
  position: fixed;
  left: 0;
  top: 0;
  max-width: 20%;
  padding: 50px;
  z-index: 2222;

  img {
    max-width: 100%;
    width: 100%;
    max-height: 92%;
    object-fit: contain;
  }
}

.dialog {
  [data-rmiz-modal-overlay="hidden"] {
    background-color: rgba(0, 0, 0, 0);
  }
  [data-rmiz-modal-overlay="visible"] {
    background-color: rgba(0, 0, 0, 0.6) !important;
  }
  [data-rmiz] {
    position: relative;
  }
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
