.container {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 48px);
  justify-content: center;
  margin: 0 -24px 16px -24px;
  gap: 8;
}

.imageCont {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  z-index: unset;
  padding: 50px;
  animation: anim 0.4s ease-in-out forwards;
}

.imgPopup {
  position: fixed;
  left: 0;
  top: 0;
  max-width: 20%;
  padding: 50px;
  z-index: 2222;

  img {
    max-width: 100%;
    width: 100%;
    max-height: 80%;
    object-fit: contain;
  }
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}