@import "/styles/variables.scss";

.layout {
  position: relative;
  max-width: 1256px;
  width: 100%;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  display: flex;

  .container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 24px;
  }


  .mobileMenu {
    display: none;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    width: 100%;

    .link {
      path {
        fill: $d_main_black_color
      }
      &:hover {
        path {
          fill: $d_main_gray_color;
        }
      }
    }

    @media (max-width: 720px) {
      display: flex;
    }
  }
}
